In [2]:
import pandas as pd

In [40]:
from datetime import datetime

def get_year(date_string):
    try:
        float(date_string)  # Check if the string can be converted to a float
        return 'needs year'
    except ValueError:
        try:
            date = datetime.strptime(date_string, '%m/%d/%Y')
            return date.year
        except ValueError:
            try:
                date = datetime.strptime(date_string, '%d/%m/%Y')
                return date.year
            except ValueError:
                try:
                    date = datetime.strptime(date_string, '%m/%d/%y')
                    return date.year
                except ValueError:
                    return 'needs year'

# Example usage:
date1 = '07/11/2023'  # mm/dd/yyyy format
date2 = '11/07/2023'  # dd/mm/yyyy format
date3 = '2023/07/11'  # Incorrect format
date4 = '12345.67'    # Float format
date5 = '5/21/13'     # mm/dd/yy format

print(get_year(date1))  # Output: 2023
print(get_year(date2))  # Output: 2023
print(get_year(date3))  # Output: needs year
print(get_year(date4))  # Output: needs year
print(get_year(date5))  # Output: 2013

2023
2023
needs year
needs year
2013

In [41]:
df = pd.read_csv('Main dataset 7-10.csv')

In [42]:
df['observed_on'] = df['observed_on'].astype(str)

In [43]:
df['year'] = df['observed_on'].apply(get_year)

In [44]:
df['observed_on']

0          5/21/13
1          7/26/14
2           7/4/14
3           7/1/14
4          11/2/14
           ...
3456    18/10/2021
3457    18/10/2021
3458    18/10/2021
3459    31/10/2021
3460        8/5/22
Name: observed_on, Length: 3461, dtype: object

In [45]:
df['year'].value_counts()

2022          948
2021          858
2020          620
2023          491
2019          148
2018          109
2005          107
2017           48
2016           44
needs year     24
2015           20
2014           18
2012            8
2013            7
2010            7
2011            2
2008            1
2009            1
Name: year, dtype: int64

In [47]:
df.to_csv('Main dataset 7-11 with years.csv')

In [48]:
df.columns

Index(['id', 'observed_on_string', 'observed_on', 'time_observed_at',
       'time_zone', 'user_id', 'user_login', 'user_name', 'created_at',
       'updated_at', 'quality_grade', 'license', 'url', 'image_url',
       'sound_url', 'tag_list', 'description', 'num_identification_agreements',
       'num_identification_disagreements', 'captive_cultivated',
       'oauth_application_id', 'place_guess', 'latitude', 'longitude',
       'combined_lat_and_lon', 'positional_accuracy', 'private_place_guess',
       'private_latitude', 'private_longitude', 'public_positional_accuracy',
       'geoprivacy', 'taxon_geoprivacy', 'coordinates_obscured',
       'positioning_method', 'positioning_device', 'place_town_name',
       'place_county_name', 'place_state_name', 'place_country_name',
       'species_guess', 'scientific_name', 'common_name', 'iconic_taxon_name',
       'taxon_id', 'Source', 'Unnamed: 45', 'Unnamed: 46', 'Unnamed: 47',
       'year'],
      dtype='object')

In [50]:
df['place_country_name'].value_counts()

United States       2406
Germany              468
Canada               171
Austria               71
France                58
Netherlands           37
United Kingdom        28
Czechia               24
Italy                 23
Belgium               22
Switzerland           19
Argentina             15
Bulgaria              12
Hungary               11
Croatia                9
Russia                 9
Czech Republic         8
Turkey                 7
New Zealand            6
Poland                 6
Romania                5
Mexico                 5
Colombia               4
Serbia                 3
Singapore              2
Bermuda                2
Cuba                   2
Australia              2
Slovakia               2
China                  2
Vanuatu                2
Greece                 2
Peru                   2
Polska                 2
Japan                  1
South Africa           1
Montenegro             1
Slovensko              1
Sweden                 1
Ecuador                1
El Salvador            1
India                  1
Martinique             1
French Polynesia       1
Luxembourg             1
Haiti                  1
Slovenija              1
Name: place_country_name, dtype: int64